#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

#navbar nav {
  display: flex;
  gap: 2rem;
}

#navbar a {
  color: #7979a4;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#navbar a:hover {
  color: #67ebff;
}

#logo {
  padding-top: 1.5vh;
  height: 50px;
}
