html {
    overflow: scroll;
    scroll-behaviour: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #7979a4;
}
#home, #aboutus, #experiences, #store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20vh;
    
}

 #phrases {
    font-style: italic;
    color: #67ebff;
 }